<!-- <h1>Hi {{currentUser.firstName}}!</h1> -->
<p>You're logged in with Angular 8!!</p>
<h3>All login audit :</h3>
<!-- <ul>
    <li *ngFor="let audit of audits">
        <br/><span class="badge badge-primary">{{audit.user}}</span>
        <br/><span class="badge badge-secondary">{{audit._id}}</span>
        <br/>Login - {{audit.loginTime}}
        <br/>Logout - {{audit.logoutTime}}
        <br/>IP - {{audit.ip}}
    </li>

</ul> -->


<div class="list">
    <div class="row">
        <div class="col-md-6">
            <p>Sorting</p>
            <div class="form-group">
                <select class="custom-select" (change)="sort($event)">
                  <option value="loginTime">loginTime</option>
                  <option value="ID">ID</option>
                  <option value="User">User</option>
                </select>
              </div>
        </div>
        <div class="col-md-6">
            <p>Date</p>
            <div class="form-group">
                <select class="custom-select" (change)="date($event)">
                  <option value="12-hour-format">12-hour-format</option>
                  <option value="24-hour-format">24-hour-format</option>
                </select>
              </div>
        </div>
        <div class="col-md-6">
            <p>Filter/Search</p>
            <input type="text" style="width: 100%;" [(ngModel)]="term" placeholder="search by id or User">
        </div>
    </div>
    <!-- <div *ngFor="let item of audits; let i = index;">
        <p>{{item.id}}</p>
    </div> -->
    <div style="width: 100%; overflow-x: auto;">
        <table>
            <tr>
                <th>ID</th>
                <th>Login Time</th>
                <th>Logout Time</th>
                <th>User</th>
                <th>IP</th>
            </tr>
            <tr *ngFor="let item of audits | paginate: { itemsPerPage: 10,currentPage: q } | filter: term">
                <td>{{item.id}}</td>
                <td>{{item.convertedloginTime  }}</td>
                <td>{{item.convertedlogoutTime}}</td>
                <td>{{item.user}}</td>
                <td>{{item.ip}}</td>
            </tr>
        </table>
    </div>
    <!-- <ul>
        <li>
            {{ item.loginTime }}
        </li>
    </ul> -->
    <pagination-controls (pageChange)="q = $event"></pagination-controls>
</div>