.ngx-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 0 !important;
    margin-top: 20px !important;
    padding: 0 !important;
  }
  h3{
      color: red;
  }
  table{
      width: 100%;
      overflow-x: auto;
  }
  /* th,td{
    padding: 10px;
} */

@media(max-width: 600px){
    .ngx-pagination{
        display: block;
    }
}